<!DOCTYPE html>
<html>
<head>
  <title>Checkout system</title>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'checkout-bundle' %>
  <%= stylesheet_pack_tag 'checkout-bundle' %>
</head>

<body>
<%= yield %>
</body>
</html>
